PORT=3333
NODE_ENV=development

# Database
DATABASE_URL="postgresql://docker:docker@localhost:5432/brevly"

# Cloudflare
CLOUDFLARE_ACCOUNT_ID=""
CLOUDFLARE_ACCESS_KEY_ID=""
CLOUDFLARE_SECRET_ACCESS_KEY=""
CLOUDFLARE_BUCKET="brevly"
CLOUDFLARE_PUBLIC_URL="https://pub-23fcf4ea20c74b739fa0b80ab4992824.r2.dev"
