@import "tailwindcss";

@theme {
  --default-font-family: "Open Sans", sans-serif;

  --color-gray-100: oklch(0.9827 0.0026 286.35);
  --color-gray-200: oklch(0.9251 0.0084 271.32);
  --color-gray-300: oklch(0.8547 0.0085 271.31);
  --color-gray-400: oklch(0.5781 0.0282 273.2);
  --color-gray-500: oklch(0.433 0.0201 274.42);
  --color-gray-600: oklch(0.2446 0.0096 276.69);

  --color-blue-base: oklch(0.4434 0.1726 268.01);
  --color-blue-dark: oklch(0.4045 0.1357 269.05);

  --color-feedback-danger: oklch(0.5105 0.1691 11.4);

  --text-xs: 0.625rem;
  --text-sm: 0.75rem;
  --text-md: 0.875rem;
  --text-lg: 1.125rem;
  --text-xl: 1.5rem;
}

* {
  box-sizing: border-box;
}
